@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.hero{
    font-family: 'Press Start 2P', cursive;
}

.hero > section >div{
    background: rgb(0, 0, 0);
    width: 97.5vw;
    height: 80vh;
    text-align: center;
    padding: 1em;
}
#headName{
    display: block;
    text-align: center;
    margin: 2em;
}

#headMsg{
    color: white;
    display: block;
    margin: 1em;
}
